.homePage-container {
    display: flex;
    flex-direction: column;
}

.moviegrid-container {
    width: 80%;
    margin: 10px auto 0;
    padding: 28px 28px 28px 28px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;

    overflow-y: auto;
}